body {
    margin: 0;
    font-family: 'Germania One', sans-serif;
    background-color: #2b3a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lobbies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-top:20px;
  }
  
  .header-title {
    font-size: 48px;
    color: #000000;
    text-align: center;
    background-color: #7fe9c7;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  
  .lobbies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  .lobby-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border: 4px solid #000000;
    border-radius: 00px;
    padding: 10px;
    width: 300px;
    height: 400px;
    margin-top:20px;
    box-sizing: border-box;
    flex: 1 1 calc(33.33% - 40px); /* Tres tarjetas por fila con espacio */
  }
  
  .player-image {
    width: 100%; /* La imagen ocupará todo el ancho disponible en su contenedor */
    max-width: 142px; /* El tamaño máximo será de 142px */
    height: auto; /* Mantendrá la proporción de aspecto */
    object-fit: cover; /* Asegura que se mantenga el contenido visible */
    margin-bottom: 2px;
    border-radius: 8px; /* Opcional: bordes redondeados */
  }
  
  .lobby-card h2 {
    font-size: 15px;
    margin: 0px 0;
    text-align: center;
  }
  
  .lobby-card p {
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
  }
  
  .join-button {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7fe9c7;
    border: 4px solid #5893b7;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .join-button:hover {
    background-color: #5893b7;
  }
  
  .create-lobby-button {
    margin-top: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #f47f26;
    border: 4px solid #ff9500;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .create-lobby-button:hover {
    background-color: #ff9500;
  }
  
  /* Responsividad */
  @media (max-width: 1024px) {
    .lobby-card {
      flex: 1 1 calc(50% - 40px); /* Dos tarjetas por fila */
    }
  }
  
  @media (max-width: 768px) {
    .lobby-card {
      flex: 1 1 calc(100% - 40px); /* Una tarjeta por fila */
    }
  
    .header-title {
      font-size: 36px;
    }
  }
  